{% extends "base.html" %}

{% block head_title %}
    {{title}}
{% endblock head_title %}


{% block contents %}
    <div class="row mt-5">
        <div class="col-md-8">
            <h5 class="card-title">{{DetailArticle.judul}}</h5>
            <span>{{DetailArticle.publicDate}}</span>
            <br>
            <span class="badge text-bg-primary">{{DetailArticle.kategori.nama|capfirst}}</span>
            <p class="card-text">{{DetailArticle.isi}}<p>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Kategori
                </div>
                <ul class="list-group list-group-flush">
                    {% for categories in category %}
                        <li class="list-group-item"><a class="text-decoration-none" href="{% url 'blog:kategoriArtikel' categories.nama %}">{{categories.nama|capfirst}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock contents %}