{% extends "base.html" %}

{% block head_title %}
    {{title}}
{% endblock head_title %}


{% block contents %}
    <h1 class="mt-3">{{heading}}</h1>
    <div class="row">
        {% for post in Articles %}
        <div class="col-md-4 g-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{post.judul}}</h5>
                    <span>{{post.publicDate}}</span>
                    <br>
                    <span class="badge text-bg-primary">{{post.kategori.nama}}</span>
                    <p class="card-text">{{post.isi|truncatewords:25}}<p>
                    <a type="button" href="/blog/detail/{{post.slugArtikel}}/" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock contents %}